[Unit]
Description=Build mbtiles

# Restart 2 times so that an intermittent network failures are gracefully handled
StartLimitIntervalSec=40min
StartLimitBurst=2

[Service]
WorkingDirectory={{ tilemaker_work_dir }}
ExecStart={{ tilemaker_work_dir }}/build-mbtiles
RestartSec=10m
Restart=on-failure

ExecStopPost=-podman stop tilemaker
ExecStopPost=-podman rm --force tilemaker
ExecStopPost=systemd-failure-notification "tilemaker"

{% if tileserver_restart_on_tilemaker_termination %}
ExecStopPost=systemctl restart tileserver
{% endif %}

[Install]
WantedBy=multi-user.target
