[Unit]
Description=Rebuild mbtiles every night

[Timer]
OnCalendar=*-*-* {{ tilemaker_start_time }}
Persistent=true

[Install]
WantedBy=timers.target
