---
- name: APT Key is stored in keyring
  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'
  ansible.builtin.apt_key:
    url: https://dl.cloudsmith.io/public/caddy/stable/gpg.key
    keyring: /usr/share/keyrings/caddy-stable-archive-keyring.gpg

- name: Caddy repository is enabled
  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'
  register: caddyrepo
  ansible.builtin.get_url:
    url: https://dl.cloudsmith.io/public/caddy/stable/debian.deb.txt
    dest: /etc/apt/sources.list.d/caddy-stable.list
    owner: root
    group: root
    mode: "644"

- name: Run "apt update" if the caddy repo was added
  when: caddyrepo.changed
  ansible.builtin.apt:
    update_cache: True

- name: Install caddy
  ansible.builtin.package:
    name:
      - caddy

- name: Start systemd service
  systemd:
    name: "{{ item }}"
    state: started
    enabled: yes
    daemon_reload: yes
  with_items:
    - caddy.service
