[Unit]
Description=Run OTP

# Restart once within 20 minutes so that an intermittent network failures are gracefully handled
StartLimitIntervalSec=1200
StartLimitBurst=2

[Service]
ExecStartPre=-send-to-matrix "🚆 Starting %n on {{ inventory_hostname }}"
ExecStart=podman run \
    --rm -it \
    -p {{ otp_port }}:8080 \
    --name=otp \
    --log-driver=journald \
    -v {{ otp_base_dir }}/latest/:/var/opentripplanner:z \
    -e JAVA_TOOL_OPTIONS="{{ otp_jvm_opts }}" \
    -e TZ="{{ timezone }}" \
    {{ otp_image }} --load --serve
Restart=on-failure

[Install]
# Start by default on boot
WantedBy=multi-user.target default.target