[Unit]
Description=Build OTP graph

# Restart 3 times within 4 hour so that intermittent failures are gracefully handled
StartLimitIntervalSec=4h
StartLimitBurst=2

[Service]
User=otp
Delegate=yes
WorkingDirectory={{ otp_base_dir }}
ExecStart={{ otp_base_dir }}/build-graph

# force stop after 3 hours
RuntimeMaxSec=3h

ExecStopPost=systemd-failure-notification "%n"

Restart=on-failure
# Wait 20m after a failure to restart
RestartSec=20m

[Install]
WantedBy=multi-user.target
