[Unit]
Description=Photon

[Service]
Environment=CONTAINER_IMAGE=ghcr.io/leonardehrenfried/photon:0.5.0-2024-03-18T14-19
Environment=CONTAINER_NAME=photon
TimeoutStartSec=0
RestartSec=15
Restart=always

Environment=NOMINATIM_DB_HOST=nominatim
Environment=NOMINATIM_DB_PASSWORD={{ nominatim_db_password }}

ExecStart=podman run --rm --name ${CONTAINER_NAME} \
    --log-driver=journald \
    --network {{ nominatim_podman_network }} \
    -v photon-data:/photon/photon_data:Z \
    -p {{ photon_port }}:2322 \
    -e NOMINATIM_DB_HOST \
    -e NOMINATIM_DB_PASSWORD \
    ${CONTAINER_IMAGE} photon -enable-update-api

ExecStop=-podman stop ${CONTAINER_NAME}

[Install]
WantedBy=multi-user.target
