[Unit]
Description=Update photon

[Service]
User=nominatim
ExecStart=podman exec photon /usr/local/bin/nominatim-update

[Install]
WantedBy=multi-user.target
