[Unit]
Description=Photon

StartLimitIntervalSec=10m
StartLimitBurst=5

[Service]
Environment=CONTAINER_IMAGE={{ photon_image }}
Environment=CONTAINER_NAME=photon
TimeoutStartSec=0
RestartSec=30

Restart=always

Environment=NOMINATIM_DB_HOST=nominatim
Environment=NOMINATIM_DB_PASSWORD={{ nominatim_db_password }}

ExecStartPre=-podman stop ${CONTAINER_NAME}
ExecStartPre=-podman rm ${CONTAINER_NAME}

ExecStart=podman run --rm --name ${CONTAINER_NAME} \
    --log-driver=journald \
    --network {{ nominatim_podman_network }} \
    -v photon-data:/photon/photon_data:Z \
    -p {{ photon_port }}:2322 \
    -e NOMINATIM_DB_HOST \
    -e NOMINATIM_DB_PASSWORD \
    -e PHOTON_LANGUAGES={{ photon_languages|join(",")}} \
    ${CONTAINER_IMAGE}

ExecStop=-podman stop ${CONTAINER_NAME}

[Install]
WantedBy=multi-user.target
