[Unit]
Description=Photon Pelias Adapter

[Service]

Environment=CONTAINER_IMAGE=docker.io/mfdz/photon-pelias-adapter:c0988abdc5723699fa624aab876cebaa8f16db22
Environment=CONTAINER_NAME=photon-pelias-adapter
TimeoutStartSec=0
Restart=always

Environment=PHOTON_URL=https://{{ photon_domain }}
Environment=PORT=9100

ExecStartPre=-podman pull ${CONTAINER_IMAGE}
ExecStartPre=-podman stop ${CONTAINER_NAME}
ExecStartPre=-podman rm ${CONTAINER_NAME}
ExecStart=podman run --name ${CONTAINER_NAME} --network=host --log-driver=journald -p {{ pelias_adapter_port }}:9100 -e PORT -e PHOTON_URL ${CONTAINER_IMAGE}

ExecStop=-podman stop ${CONTAINER_NAME}

[Install]
WantedBy=multi-user.target
