[Unit]
Description=Update nominatim with the update files from Geofabrik

[Service]
User=nominatim
WorkingDirectory={{ nominatim_data_dir }}
ExecStart={{ nominatim_data_dir }}/update-nominatim

ExecStopPost=systemd-failure-notification "%n"

[Install]
WantedBy=multi-user.target
