[Unit]
Description=Build OTP graph

# Restart once within 1 hour so that intermittent network failures are gracefully handled
StartLimitIntervalSec=1h
StartLimitBurst=2

[Service]
User=otp
Delegate=yes
WorkingDirectory={{ otp_base_dir }}
ExecStart={{ otp_base_dir }}/build-graph

# force stop after 6 hours
RuntimeMaxSec=21600

ExecStopPost=systemd-failure-notification "%n"

Restart=on-failure

[Install]
WantedBy=multi-user.target
