[Unit]
Description=Run OTP

# Restart once within 20 minutes so that an intermittent network failures are gracefully handled
StartLimitIntervalSec=1200
StartLimitBurst=2

[Container]
{% if podman_authorized_repos is defined %}
Pull=never
{% else %}
Pull=newer
{% endif %}
Environment=JAVA_TOOL_OPTIONS="{{ otp_jvm_opts }}"
Environment=TZ="{{ timezone }}"

# Custom environment variables
{% for key, value in otp_env_vars.items() %}
Environment={{key}}="{{ value }}"
{% endfor %}

Image={{ otp_image }}
{% if otp_mount_volume %}
Volume={{ otp_base_dir }}/latest/:/var/opentripplanner:z
{% endif %}
PublishPort={{ otp_port }}:8080
Exec=--load --serve
LogDriver=journald

[Service]
{% if podman_authorized_repos is defined %}
ExecStartPre=-podman pull --authfile={{ podman_auth_file }} {{ otp_image }}
{% endif %}
ExecStartPre=-send-to-matrix "🚆 Starting %n on {{ matrix_hostname }}"
Restart=on-failure

[Install]
# Start by default on boot
WantedBy=multi-user.target default.target