[Unit]
Description=Tileserver

StartLimitIntervalSec=2m
StartLimitBurst=5

[Service]
Environment=CONTAINER_IMAGE=docker.io/maptiler/tileserver-gl:{{ tileserver_version}}
Environment=CONTAINER_NAME=tileserver
TimeoutStartSec=0
Restart=always
RestartSec=20

ExecStartPre=-send-to-matrix "🗺️ Restarting tileserver on {{ matrix_hostname }}"
ExecStartPre=-podman stop ${CONTAINER_NAME}
ExecStartPre=-podman rm ${CONTAINER_NAME}

# rsync makes sure that it's a noop when the files are the same
ExecStartPre=-/bin/sh -c 'rsync \
  --progress \
  --update \
  --stats \
  {{ tileserver_mbtiles_path }} \
  {{ tileserver_work_dir }}/input.mbtiles || send-to-matrix "⚠️ rsync failed on {{ matrix_hostname }}"'

ExecStart=podman run --rm \
            --name ${CONTAINER_NAME} \
            -v {{ tileserver_work_dir }}:/data \
            -p {{ tileserver_port }}:8080 ${CONTAINER_IMAGE} \
            -u https://{{ tileserver_domain }} \
            --config tileserver-config.json

[Install]
WantedBy=multi-user.target
