[Unit]
Description=Restart container every night

[Timer]
OnCalendar=*-*-* {{ tileserver_restart_time }}
Persistent=true

[Install]
WantedBy=timers.target
