[Unit]
Description=Run tileserver healthcheck

[Timer]
OnCalendar={{ tileserver_healthcheck_calendar }}
Persistent=true

[Install]
WantedBy=timers.target
