[Unit]
Description=Tileserver

[Service]
Environment=CONTAINER_IMAGE=docker.io/maptiler/tileserver-gl:v4.10.2
Environment=CONTAINER_NAME=tileserver
Environment=MEM_LIMIT=8192m
TimeoutStartSec=0
Restart=always

ExecStartPre=-send-to-matrix "🗺️ Restarting tileserver on {{ inventory_hostname }}"
ExecStartPre=-podman stop ${CONTAINER_NAME}
ExecStartPre=-podman rm ${CONTAINER_NAME}
ExecStartPre=-podman pull ${CONTAINER_IMAGE}

# rsync makes sure that it's a noop when the files are the same
# I would have preferred a symlink but that doesn't work with docker volumes
ExecStartPre=-rsync --update {{ tilemaker_work_dir }}/tilemaker-output.mbtiles {{ tileserver_work_dir }}/input.mbtiles

ExecStart=podman run --rm \
            --name ${CONTAINER_NAME} \
            -v {{ tileserver_work_dir }}:/data \
            --memory="${MEM_LIMIT}" \
            -p {{ tileserver_port }}:8080 ${CONTAINER_IMAGE} \
            -u https://{{ tileserver_domain }} \
            --config tileserver-config.json

[Install]
WantedBy=multi-user.target
