[Unit]
After=network-online.target
Wants=network-online.target

[Service]
Restart=always
# restart after 4 hours
RuntimeMaxSec=4h
ExecStop=-podman rm %n
ExecStart=podman run --name %n --rm \
    --network=host \
    -e MQTT_BROKER_URL=localhost \
    -e USERNAME=publisher \
    -e PASSWORD={{ mqtt_publisher_password }} \
    -e FEED_TYPE=vp \
    -e FEED_URL="{{ mqtt_vehicle_position_feed }}" \
    -e FEED_NAME={{ mqtt_feed_id }}\
    -e INTERVAL={{ vehicle_positions_poll_interval }} \
    -e OTP_URL=https://{{ mqtt_otp_domain }}/otp/gtfs/v1 \
    {{ gtfsrthttp2mqtt_image }}

ExecStop=-podman stop --ignore %n
ExecStop=-podman rm %n

[Install]
WantedBy=multi-user.target
