[Unit]
Description=Restart digitransit

[Service]
Type=oneshot
ExecStart=/bin/systemctl restart digitransit.service

[Install]
WantedBy=multi-user.target
